@import "variables";

input, textarea {
  @extend .mat-body;
  color: $color-primary;
  border: 1px solid $color-neutral-blue-5;
  box-sizing: border-box;
  resize: none;
  padding-left: 10px;
  height: 46px;

  &:hover {
    border: 1px solid $color-primary;
  }

  &::placeholder {
    color: $color-neutral-blue-5;
  }

  &.ng-invalid.ng-touched, &.ng-invalid.ng-dirty {
    border: 1px solid $color-temenos-orange;
  }

}
